body {
    text-align: center;
    margin: auto;
}

h1 {
    text-align: center;
}

li {
    display: block;
    position: relative;
    right: 15px;
}

#box {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px 180px;
    background-color: white;
    max-width: 540px;
    border: 5px solid black;
    align-content: center;
    margin: auto;
  }

div {
    max-width: 540px;
}
  
  .boxitem {
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 100px;
    padding-top: 30px;
  }